<div class="container mt-5">
  <div class="d-flex title-section justify-content-center">
    <h2>Account Login</h2>
  </div>
  <div class='input-section'>
    <form action="/login" method='POST' class="d-flex flex-column align-items-center">
      <div class="form-group row col-10 col-md-6 col-lg-5 mt-5">
        <label for="exampleInputEmail1"></label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="email" value="{{email}}">
      </div>
      <div class="form-group row col-10 col-md-6 col-lg-5">
        <label for="exampleInputPassword1"></label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="password">
      </div>
      <div class="form-group btn row">
        <button type="submit" class="btn btn-outline-primary">Sign in</button>
      </div>
      <!---alert--->
      {{#if msg}}
      <div class="alert alert-danger" role="alert">
        {{msg}}
      </div>
      {{/if}}
    </form>

  </div>

  
</div>